#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda,sdb,sde,sdf,sdc,sdd,sdg,sdh,sdk,sdi,sdj,sdl,sdm,sdn,sdo,sdp,sdq,sdr,sds,sdt,sdu
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp0s20f0 --gateway=10.10.50.254 --ip=10.10.50.1 --nameserver=8.8.8.8,8.8.4.4 --netmask=255.255.255.0 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s20f1 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=enp0s20f2 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=enp0s20f3 --onboot=off --ipv6=auto
network  --hostname=vmlab.woodsnet.org

# Root password
rootpw --iscrypted $6$M.A5y8OFHLQC/2c9$WHRWp00F7j3a.IBGF0ONgGRnJ95rS5gvAH6i/Mb//ZkrCdFIKOv4yzLHy3biE3wjuaAvw5i0/z8PyBQrbqSIz1
# System services
services --disabled="chronyd"
# System timezone
timezone America/Los_Angeles --isUtc --nontp
user --groups=wheel --name=woodst --password=$6$.qJbo/P15SCTPvIP$J1/5FVAX2H7H2hj.xTP6bJIfXa1TPgJ.CboialwMpCcoFNMg0G5jrDZmy7PtP26763dMgmn3LP.Qgx8kepE8H0 --iscrypted --gecos="Thomas Woods"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sdu
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part raid.24489 --fstype="mdmember" --ondisk=sdt --size=1907728
part raid.23162 --fstype="mdmember" --ondisk=sdk --size=715403
part pv.11251 --fstype="lvmpv" --ondisk=sdu --size=227711
part /volumes/objectstore/ost05 --fstype="xfs" --ondisk=sde --size=715403 --label=ost05
part raid.23180 --fstype="mdmember" --ondisk=sdn --size=715403
part raid.23156 --fstype="mdmember" --ondisk=sdj --size=715403
part /volumes/objectstore/ost02 --fstype="xfs" --ondisk=sdb --size=715403 --label=ost02
part /volumes/objectstore/ost03 --fstype="xfs" --ondisk=sdc --size=715403 --label=ost03
part raid.24477 --fstype="mdmember" --ondisk=sdr --size=1907728
part raid.23186 --fstype="mdmember" --ondisk=sdo --size=715403
part /volumes/objectstore/ost08 --fstype="xfs" --ondisk=sdh --size=715403 --label=ost08
part /volumes/objectstore/ost04 --fstype="xfs" --ondisk=sdd --size=715403 --label=ost04
part /boot --fstype="xfs" --ondisk=sdu --size=1024
part raid.23168 --fstype="mdmember" --ondisk=sdl --size=715403
part raid.23150 --fstype="mdmember" --ondisk=sdi --size=715403
part /boot/efi --fstype="efi" --ondisk=sdu --size=200 --fsoptions="umask=0077,shortname=winnt"
part raid.23174 --fstype="mdmember" --ondisk=sdm --size=715403
part /volumes/objectstore/ost07 --fstype="xfs" --ondisk=sdg --size=715403 --label=ost07
part raid.23192 --fstype="mdmember" --ondisk=sdp --size=715403
part /volumes/objectstore/ost06 --fstype="xfs" --ondisk=sdf --size=715403 --label=ost06
part raid.24483 --fstype="mdmember" --ondisk=sds --size=1907728
part raid.24471 --fstype="mdmember" --ondisk=sdq --size=1907728
part /volumes/objectstore/ost01 --fstype="xfs" --ondisk=sda --size=715403 --label=ost01
raid /volumes/coldstore --device=volumes_coldstore --fstype="xfs" --level=RAID5 --chunksize=512 raid.24471 raid.24477 raid.24483 raid.24489
raid /volumes/blockstore --device=volumes_blockstore --fstype="xfs" --level=RAID10 --chunksize=512 raid.23150 raid.23156 raid.23162 raid.23168 raid.23174 raid.23180 raid.23186 raid.23192
volgroup rhel_vmlab --pesize=4096 pv.11251
logvol swap  --fstype="swap" --size=16384 --name=swap --vgname=rhel_vmlab
logvol /home  --fstype="xfs" --size=160120 --name=home --vgname=rhel_vmlab
logvol /  --fstype="xfs" --size=51200 --name=root --vgname=rhel_vmlab

%packages
@^minimal
@core
@development
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
